/**
* Variables
*/
/**
* General styles
*/
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; }

.container {
  padding: 2em;
  display: flex;
  flex-direction: row;
  font-family: Helvetica, sans-serif; }

/**
* Aside: title and game info
*/
.controls {
  width: 40%;
  margin-left: 20px; }

.stars {
  padding: 0;
  list-style: none; }

.stars > li {
  display: inline-block; }

.fa-star {
  color: yellow; }

.reset-btn {
  font-size: 1em;
  padding: 1em;
  color: red;
  background-color: white;
  border: 1px solid red; }

.reset-btn:hover {
  background-color: red;
  color: white; }

.reset-btn:focus {
  outline: 0; }

/**
* Cards section
*/
.deck {
  width: 60%; }

.row {
  display: flex;
  justify-content: flex-end; }

.wrapper {
  width: 150px;
  height: 150px;
  position: relative;
  perspective: 800px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 7px; }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  text-align: center;
  line-height: 150px; }

/**
* 3D animation
*/
.card figure {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.card .front {
  background: red; }

.back {
  background: blue;
  transform: rotateY(180deg); }

.flip-card {
  transform: rotateY(180deg); }

.title {
  margin-top: 0;
  color: purple;
  font-size: 3em; }

.subtitle {
  font-size: 1.5em; }

.green {
  background: green; }

.red {
  background: red; }
