/**
* Variables
*/

/* Container width */
$full-width: 100%;
$full-height: 100%;
$max-width: 1200px;

/* Font family and font sizes*/
$font-stack: Helvetica, sans-serif;
$title: 3em;
$subtitle: 1.5em;
$text: 1em;

/* Colors */
$dark-grey: #34495e;
$blue: #2980b9;
$green: #27ae60;
$red: #c0392b;
$yellow: #f1c40f;
$light-grey: #ecf0f1;

/* Breakpoints */
/* Small tablets and large smartphones (landscape view) */
$screen-sm-min: 320px;

/* Small tablets (portrait view) */
$screen-md-min: 768px;

/* Tablets and small desktops */
$screen-lg-min: 1024px;